@{
    ViewData["Title"] = "Student Page";
}

<div class="text-center">
    <h1 class="display-4">Öğrenci Hoşgeldin...</h1>
    <p>Learn about <a href="https://www.microsoft.com/tr-tr/">building Web apps with ASP.NET Core</a>.</p>
</div>
