@{
    ViewData["Title"] = "About Us Page";
    ViewData["Baslik"] = "Okulumuza hoşgeldiniz...";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Baslik"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
</div>
